__pycache__/
.venv*
venv*/
ENV*/
.idea/
.ipynb_checkpoints
.python-version
.env


*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.txt
*.json
*.csv
*.pt
*.pth
*.pdf

# Haskell
*.o
*.hi

# TeX
*.aux
*.log

# Vim
*.sw[o-z]

!/src/semantic_segmentation/models.json

# Used in the vision_document.md
!/docs/diagrams/general_block_diagram.png
