##############
# DEVELOPERS #
##############

__pycache__/
.venv*
venv*/
ENV*/
.idea/
.ipynb_checkpoints
.python-version
.env

*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.txt
*.json
*.csv
*.pt
*.pth
*.pdf
*.zip

!/src/semantic_segmentation/models.json

###############
# TECH WRITER #
###############

# TeX
*.aux
*.log
/docs/directory_tree/dir.tex

# Vim
*.sw[o-z]

# Used in the vision_document.md
!/docs/diagrams/general_block_diagram.png
!/docs/diagrams/alternative.png
!/docs/diagrams/software.png
!/docs/diagrams/bogdan.jpg
